body{
    background: #FFD8E0;
    margin: 0 auto;
}
* {
	user-select: none;
	box-sizing: border-box;
}
.header{
    height: 100%;
    height: 60px;
    background: #ad0022;
}
.header-hw{
    width: 100%;
    height: 70px;
    border-radius: 0px 0px 25px 25px;
    background: #F63E62;
}
.header h1 {
    display: flex;
    width: 20%;
    height: 60px;
    margin: 0 auto;
    margin-left: 39%;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 8.4px;
}
.header-hw ul {
    display: flex;
    align-content: flex-start;
    width: 50%;
    height: 100%;
    margin: 0 auto;
    margin-left: 23%;
    margin-top: 0%;
    font-size: 24px;
    justify-content: space-around;
}
.header-hw li {
    margin: 0 auto;
    margin-top: 2%;
    list-style-type: none;
}
.header-hw a{
    color: white;
    font-size: 26px;
    text-decoration: none;
}
.header-hw ul li a:hover {
    color:black;
    transition: 0.5s;
}
.text-hw {
    width: 50%;
    height: fit-content;
    margin-top: 1%;
    margin-left: 10%;
}
.text-hw h1 {
    color: #000;
    text-align: center;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.photo-hw img {
    width: 25%;
    float: right;
    margin-top: -30%;
    margin-right: 13%;
}
.btn {
    width: 30%;
    height: 50px;
    margin: 0 auto;
    margin-top: 2%;
    margin-left: 35%;
    background: #F63E62;
    cursor: pointer;
}
.btn h1 {
    color: #fff;
    display: flex;
    text-align: center;
    margin: 0 auto;
    font-family: 'Montserrat';
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}
.close {
    font-size: 37px;
    float: right;
    margin-right: 1%;
    cursor: pointer;
}
.marquee {
    width: 75%;
    height: 130px;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    margin-left: 12%;
    margin-top: 1%;
    /* float: left; */
    border: 1px solid #ccc;
    background: #F63E62;
    display:none;
}

.marquee-content {
    width: 122%;
    margin-left: 100%;
    float: left;
    display: inline-block;
    animation: marquee 15s linear infinite;
}

.marquee-content img {
    width: 10%;
    margin: -68px 0px;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
.priemishestva {
    width: 75%;
    height: 300px;
    margin: 0 auto;
    border-radius: 30px;
    margin-left: 12%;
    margin-top: 2%;
    background: #F63E62;
}
.priemishestva-wh {
    width: 100%;
    height: 270px;
    float: left;
    display: flex;
    margin-top: 1%;
    margin-left: -9%;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: flex-start;
}
.priemishestva-wh img {
    width: 5%;
    height: 23%;
    margin-left: 26%;
    margin-top: 3%;
}
.priemishestva-wh-text {
    width: 100%;
    height: 145px;
    float: inline-start;
    border-radius: 0px 0px 30px 30px;
    margin-top: -10%;
}
.priemishestva-wh-text a {
    color: #F5F5F5;
    text-align: center;
    font-family: "Montserrat";
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: inherit;
    /* margin-left: 11%; */
    height: fit-content;
    margin-left: 11%;
    width: 19%;
    float: left;
}
.footer {
    width: 100%;
    height: 100px;
    margin-top: 1%;
    background: #ad0022;
}
.footer h1 {
    color: #fff;
    display: flex;
    text-align: center;
    margin: 0 auto;
    float: left;
    margin-left: 24%;
    margin-top: 2%;
    font-family: 'Montserrat';
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
}