body {
  margin: 0;
  padding: 0;
  background: #FFD8E0;
}

/* Zapic Container */
.zapic {
    max-width: 800px;
    margin: 40px auto;
    background-color: #dbadad;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgb(217 14 14);
    padding: 30px;
}
.zapic p{
    font-size:20px;
    text-align: center;
}
.close{
    float: right;
    margin-top: -2%;
    font-size: 33px;
}
/* Appointment Item */
.zapic a {
  display: block;
  padding: 15px 20px;
  border-bottom: 1px solid #e0e0e0;
  color: #333;
  font-size:20px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.zapic a:last-child {
  border-bottom: none;
}

.zapic a:hover {
  background-color: #f5f5f5;
}

/* Icons */
.zapic a i {
  margin-right: 10px;
  color: #757575;
}