{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.png' %}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <title>Интернет-магазин косметической продукции</title>
</head>
<body>
<header>
    <div class="header">
        <h1>Aesthetic Beauty</h1>

      <div class="navbar">
        <div class="container nav-container">
            <input class="checkbox" type="checkbox" name="" id="" />
            <div class="hamburger-lines">
              <span class="line line1"></span>
              <span class="line line2"></span>
              <span class="line line3"></span>
            </div>
          <div class="menu-items">
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'about' %}">Салон</a></li>
            <li><a href="{% url 'service' %}">Услуги</a></li>
            <li><a href="{% url 'register' %}">Регистрация</a></li>
            <li><a href="{% url 'vhod' %}">Войти</a></li>
          </div>
        </div>
      </div>

    </div>
    <div class="header-hw">
        <div class="regvhodprof">
            <a href="{%url 'register' %}"><img src="{% static './img/reg.png' %}" alt="Регистрация"></a>
            <a href="{%url 'vhod' %}"><img src="{% static './img/vhod.png' %}" alt="Вход"></a>
            <a href="{%url 'profil' %}"><img src="{% static './img/profil.png' %}" alt="Профиль"></a>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Главная</a></li>
                <li><a href="{% url 'about' %}">Салон</a></li>
                <li><a href="{% url 'service' %}">Услуги</a></li>
            </ul>
        </nav>
    </div>
</header>
<content>
<div class="container">
    <div class="photo-wd">
        <img src="{% static './img/tetya1.png' %}" alt="">
    </div>
    <div class="text-wd">
        <h1>Aesthetic Beauty - это не просто салон аппаратной косметологии, это место, где высокий уровень экспертизы сочетается с индивидуальным подходом к каждому клиенту. Каждый день наша цель - помочь достичь здоровья тела и красоты кожи. Мы понимаем, что найти идеального специалиста, которому можно доверить свою красоту, бывает сложно. Поэтому наша команда постоянно совершенствует свои профессиональные навыки, чтобы обеспечить клиентам максимальный комфорт во время процедур и консультаций. Мы стремимся к тому, чтобы каждый гость. Салона Aesthetic Beauty чувствовал себя окруженным заботой и вниманием, получая не только результат, но и приятные впечатления от посещения.</h1>
    </div>

    <div class="text-wd-two">
        <h1>Aesthetic Beauty - это косметологическая компания, предоставляющая широкий спектр процедур для улучшения внешности и состояния кожи. Среди услуг, которые они предлагают, можно выделить инъекции ботокса, филлеры, лазерную эпиляцию, различные виды пилингов, микродермабразию и многое другое. Кроме того, компания оказывает услуги по уходу за кожей и проводит консультации специалистов, помогая клиентам подобрать оптимальные процедуры для достижения желаемых результатов.

Одним из ключевых принципов Aesthetic Beauty является постоянное стремление к улучшению качества предоставляемых услуг. Компания активно внедряет новейшие технологии и методики, чтобы удовлетворить потребности своих клиентов и обеспечить наивысший уровень сервиса. Благодаря постоянному развитию и инновациям, Aesthetic Beauty заслужила репутацию надежного провайдера профессиональных косметологических услуг.

Кроме заботы о красоте клиентов, Aesthetic Beauty также активно участвует в различных благотворительных проектах, демонстрируя социальную ответственность и внимание к обществу. Компания также поддерживает сотрудничество с медицинскими учреждениями, обмениваясь опытом и знаниями с профессионалами смежных отраслей для достижения лучших результатов в области косметологии и дерматологии.</h1>
    </div>
    <div class="photo-wd-two">
        <img src="{% static './img/tetya2.png' %}" alt="">
    </div>
</div>
      <div class="splitview skewed">
        <div class="panel bottom">
            <div class="content">
                <div class="description">
                    <h1>Услуга: RF-лифтинг</h1>
                    <p>После нашего слона</p>
                </div>

                <img src="{% static './img/test1.png' %}" alt="Original">
            </div>
        </div>

        <div class="panel top">
            <div class="content">
                <div class="description">
                    <h1>Услуга: RF-лифтинг</h1>
                    <p>До нашего салона</p>
                </div>

                <img src="{% static './img/test.png' %}" alt="Duotone">
            </div>
        </div>

        <div class="handle"></div>
    </div>
    </content>
<footer>
    <div class="footer">
        <p>Все права защищены © 2024</p>
        <div class="footer-animation">
        <ul>
              <li><a href="{% url 'qr' %}"><i class="fab fa-facebook-f icon"></i></a></li>
              <li><a href="{% url 'qr' %}"><i class="fab fa-twitter icon"></i></a></li>
              <li><a href="{% url 'eco' %}"><i class="fab fa-linkedin-in icon"></i></a></li>
              <li><a href="{% url 'eco' %}"><i class="fab fa-google-plus-g icon"></i></a></li>
        </ul>
    </div>
        </div>
    </footer>
        <script src="{% static 'js/home.js' %}"></script>
</body>
</html>