{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static './css/profil.css' %}">
    <title>Интернет-магазин косметической продукции</title>
</head>
<body>
<header>
 <div class="header">
        <h1>Aesthetic Beauty</h1>
    </div>
    <div class="header-hw">
        <div class="content-section">
            <div class="media">
                <div class="media-body">
                    <h2 class="account-heading">{{ user.username }} {{ user.last_name }}</h2>
                    <p class="text-secondary">{{ user.email }}</p>
                    <p class="text-secondary">Дата регистрации: {{ user.date_joined|date:"d.m.Y" }}</p>
                </div>
            </div>
        </div>
        <ul>
            <li><a href="{% url 'profil' %}">Главная</a></li>
            <li><a href="{% url 'about' %}">Салон</a></li>
            <li><a href="{% url 'service' %}">Услуги</a></li>
        </ul>
    </div>
</header>
<content>
    <div class="profile-container">
<div class="profile-header">
    <div class="profile-avatar">
        {% if user.profile.avatar %}
            <img src="{{ user.profile.avatar.url }}" alt="Аватар">
        {% else %}
            <img src="{% static 'img/default_avatar.png' %}" alt="Аватар">
        {% endif %}
    </div>
    <div class="profile-info">
        <h1>{{ user.first_name }} {{ user.last_name }}</h1>
        <p>{{ user.email }}</p>
        <p>Дата регистрации: {{ user.date_joined|date:"d.m.Y" }}</p>
        <a href="{% url 'logout' %}">Выйти</a>
    </div>
    <form method="post" class="imgform" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="imgbut">Обновить</button>
    </form>
    {% if request.user.is_superuser %}
    <a href="{% url 'userzapis' %}">Посмотреть запись</a>
    {% endif %}
</div>
    </div>
</content>
    <script src="{% static 'js/profil.js' %}"></script>
</body>
</html>