{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './css/success.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.png' %}"/>
    <title>Запрос успешно сохранён!</title>
</head>
<body>
    <h1 style="text-align: center;">Ваша запись успешно сохранена!</h1>
    <a style="display: block; text-align: center; margin-top: 2rem;" href="{% url 'service' %}">Назад к услугам</a>
</body>
</html>